fieldset.ta-diff div.fieldset-wrapper {
  color: green;
  text-decoration: none;
  max-height: 14em;
  overflow: auto;
}

fieldset.ta-diff div.fieldset-wrapper.textarea {
  border: 1px solid #ccc;
  padding: 2px;
}

fieldset.ta-diff div.fieldset-wrapper ins {
  color: red;
}

fieldset.ta-diff div.fieldset-wrapper del {
  color: red;
}

div.tak-fieldset.changed > fieldset > legend > span > a.fieldset-title {
  color: red;
}
